body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #000;
  color: #fff;
  padding: 1rem;
}

nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}
.hell {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
}
nav a {
  color: #fff;
  text-decoration: none;
}

section {
  padding: 2rem;
  text-align: center;
}

footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 1rem;
  position: fixed;
  width: 100%;
  bottom: 0;
}
